# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

.vercel

new-service-account.json.json
old-service-account.json.json
migrate.mjs
users.json
